{% extends 'base.html' %}

{% block title %}
    clothes
{% endblock %}

{% block content %}
    <h1 class="cl_text">Name 1</h1>
    <img src="../static/image/clothes/coat-30208.svg" alt="Name 1">
    <p class="cl_p_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptate eaque repellendus impedit nesciunt voluptates porro sit quasi, illo beatae nam? Iure quae cum voluptate!</p>

    <h1 class="cl_text">Name 2</h1>
    <img src="../static/image/clothes/t-shirt-153370.svg" alt="Name 2">
    <p class="cl_p_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptate eaque repellendus impedit nesciunt voluptates porro sit quasi, illo beatae nam? Iure quae cum voluptate!</p>

    <h1 class="cl_text">Name 3</h1>
    <img src="../static/image/clothes/t-shirt-311732.svg" alt="Name 3">
    <p class="cl_p_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptate eaque repellendus impedit nesciunt voluptates porro sit quasi, illo beatae nam? Iure quae cum voluptate!</p>
{% endblock %}