{% extends 'base.html' %}

{% block title %}
    shoes
{% endblock %}

{% block content %}
    <h1 class="cl_text">Name 1</h1>
    <img src="../static/image/shoes/pumps-154636.svg" alt="Name 1">
    <p class="cl_p_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptate eaque repellendus impedit nesciunt voluptates porro sit quasi, illo beatae nam? Iure quae cum voluptate!</p>

    <h1 class="cl_text">Name 2</h1>
    <img src="../static/image/shoes/shoes-153310.svg" alt="Name 2">
    <p class="cl_p_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptate eaque repellendus impedit nesciunt voluptates porro sit quasi, illo beatae nam? Iure quae cum voluptate!</p>

    <h1 class="cl_text">Name 3</h1>
    <img src="../static/image/shoes/tennis-7968714.svg" alt="Name 3">
    <p class="cl_p_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit voluptate eaque 
{% endblock %}